/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

  hr {
    content: "";
    width: 250px;
    height: 1px;
    padding-bottom: 80px;
  }

  h3 {
    font-family: "Poppins", sans-serif;
    padding-bottom: 15px;
  }

  p {
    font-family: "Poppins", sans-serif; 
  }

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */

  /* .nav-menu {
    position: center;
  } */

  .nav-menu ul {
	  list-style: none;
  }
  
  .nav-menu > ul {
    display: flex;
    justify-content: center;
  }
  
  .nav-menu > ul > li {
    white-space: nowrap;
    padding: 20px 0 10px 50px;
  }
  
  .nav-menu a {
    color: #000000;
    transition: 0.3s;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .vertical-line {
    border-left: 1px solid #ccc;
    height: 30px;
    margin: 0 20px;
    flex-direction: column;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden; 
  }
    
  .section-bg {
    background-color: #f6f7f6;
  }
    
  .section-title {
      padding-bottom: 40px;
  }

  .section-title h1 {
    font-size: 60px;
    font-weight: 500;
    padding-top: 55px;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
  }
    
  .section-title h2 {
    font-size: 25px;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 60px;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }

  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #0c041f;
    margin: 4px 10px;
    }

  .col-lg-6, .pt-4, .pt-lg-0 {
    padding-top: 70px;
    padding-bottom: 70px;
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
  .footer {
    color: #37423b;
    font-size: 14px;
    /* background: #e2e2e2; */
    position: relative;
  }
    