body {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 1.7;
    padding: 1px 50px;
  }
  
  .header{
    margin-top: 15.5%;
    text-align: center;
    font-size: 5.5em;
  }

  .message{
    margin-top: 5.5%;
    text-align: center;
    font-size: 1.5em;
  }
  
  .Typist .Cursor--blinking {
    opacity: 1;
    -webkit-animation: blink 1s linear infinite;
            animation: blink 1s linear infinite; }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  
  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } }

  hr {
    width: 400px;
    color: rgb(223, 220, 220);
    opacity: 0.5
  }

  .Media {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5.5%;
  }

  a {
    width: 50px;
    padding: 2em;
  }